/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: green;
     font-size: min(3.0vw, 38px);
}

#game-menu-background {
     background: rgba(0,0,0, 0.5);
}

#game-menu {
     background-color: white;
}

#start {

}

h1 {
     font-size: min(4.0vw, 45px);
}

h2, label {
     font-size: min(3.0vw, 38px);
}

#sec-table {

}

#sec-players {
}

#sec-game-log {
     background-color: white;
}
/******************************************
/* LAYOUT
/*******************************************/

body {
    width: 100%;
    height: 100vh;
}

#game-menu-background {
     width: 100%;
     height: 100vh;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
}
#game-menu {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
main {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
}

#sec-table, #sec-players, #sec-game-log {
     display: flex;
     width: 100%;
     height: 33.3333%;
}

#sec-table {
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

header {
     height: 10%;
}
#sec-table-cards {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     height: 80%;
}

.game-info {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;
     height: 20%;
     border: 1px solid black;
     border-top: 2px solid black;
}

#sec-players {
     display: flex;
     flex-direction: row;
     align-items:center;
     justify-content: space-around;
}

.player {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100%;
     border: 1px solid black;
}

.p-header {
     display: flex;
     flex-direction: row;
     align-items:center;
     justify-content: space-evenly;
     width: 100%;
     height: 13.3333%;
}
.cpu-header {
     height: 40%;
}
.p-cards {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 53.3333%;
}

.cpu-cards {
     height: 60%;
}

#sec-table-cards img {
     object-fit: contain;
     max-width: 20%;
     max-height: 100%;
}
.p-cards img {
     object-fit: contain;
     max-width: 50%;
     max-height: 100%;
}
.p-options {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 33.3333%;
}

.p-amount-input {
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 50%;
     font-size: 2.0vw;
}

.p-amount-input input{
     height: 100%;
}

.options {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;
     height: 50%;
}
.option {
     width: 50%;
     height: 100%;
     font-size: min(3.0vw, 38px);
}

#sec-game-log {
     flex-direction: column;
     overflow: scroll;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
