/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background: green;
     font-size: 1.5vw;
}

#sec-table {
     border: 1px solid red;
}

#sec-players {
     border: 1px solid blue;
}

#sec-game-log {
     border: 1px solid white;
     background-color: white;
}
/******************************************
/* LAYOUT
/*******************************************/

body {
    width: 100%;
    height: 100vh; 
}

main {
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
}

#sec-table, #sec-players, #sec-game-log {
     display: flex;
     width: 100%;
     height: 33.3333%;
}

#sec-table {
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

#sec-table-cards {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
}

.game-info {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     width: 100%;
}

#sec-players {
     display: flex;
     flex-direction: row;
     align-items:center;
     justify-content: space-around;
}

.player {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 100%;
}

.p-header {
     display: flex;
     flex-direction: row;
     align-items:center;
     justify-content: space-evenly;
     width: 100%;
     height: 13.3333%;
     border: 1px solid pink;
}
.p-cards {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 53.3333%;
     border: 1px solid orange
}

#sec-table-cards img {
     width: 20%;
     height: auto;
}
.p-cards img {
     width: auto;
     height: 90%;
}
.p-options {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 33.3333%;
     border: 1px solid red;  
}

.p-amount-input {
     display: flex;
     flex-direction: row;
     align-items: center;
     height: 50%;
     font-size: 2.0vw;
}

.p-amount-input input{
     height: 100%;
}

.options {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 100%;
     height: 50%;
}
.option {
     width: 25%;
     height: 100%;
     font-size: 2.0vw;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
